<!DOCTYPE html>
<html>
    <head>

        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}"></link>
        <script src="http://code.jquery.com/jquery-2.1.1.min.js"></script>

    </head>
    <body>

    	<header>

    		<img height=150 src="{{ url_for('static', filename='sloth.me.png') }}">

    	</header>


    	<div class="main">

    		<div id="cam">
                <video autoplay></video>
    		</div>
            <canvas height='480' width='640' style="display:none;width:640px;height:480px;"></canvas>

            <p><button class="clearfix" id="the_button">blic blic</button></p>

    	</div>

        <div class="main">
            <form enctype="multipart/form-data" method=post action="{{ url_for('grab_pic')}}">
                <input type=image name="photo" height='480' width='640' id="tmp" alt=" ">
                <input id="grad" type=number step="any" name="gradient">
                <input id="override" type=submit value="get slothy">
            </form>
        </div>


    	<footer>

    	</footer>
        <script src="{{ url_for('static', filename='main.js') }}"></script>
    </body>
</html>
